:root {
    --bg-color: rgb(16, 29, 26);
    --primary-text-color: #adadad;
    --secondary-text-color: #da4040;
    --transition: all 0.3s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-mono-text {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.gugi-text {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-primary {
    color: var(--primary-text-color);
}

.text-secondary {
    color: var(--secondary-text-color);
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

#home {
    width: 100%;
    background: radial-gradient(circle, rgba(13, 20, 18, 0.5) 0%, rgba(48, 70, 65, 0.5) 100%);
    /* background: radial-gradient(circle, var(--bg-color) 60%, rgba(67, 135, 119, 0.5) 80%, rgba(109, 174, 159, 0.5) 100%);
    background: radial-gradient(circle,
    var(--bg-color) 50%,
    rgb(25, 45, 41) 60%,
    rgb(27, 47, 43) 70%,
    rgb(29, 49, 45) 85%,
    rgb(31, 51, 47) 100%); */

}

.container {
    padding: 20px 15%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav img.logo {
    height: 35px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 12px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--secondary-text-color);
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav ul li a:hover::after {
    width: 100%;
    transition: var(--transition);
}

.home-container {
    margin-top: 9%;
    margin-bottom: 9%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-container img {
    width: 50%;
    border: var(--secondary-text-color) 2px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px var(--secondary-text-color); 
}

.home-text h1 {
    font-size: 70px;
}

.social-icons {
    margin-top: 50px;
}

.social-icons ul li {
    display: inline-block;
    list-style: none;
    margin: 12px;
}

.social-icons ul li a {
    border-radius: 16px;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    color: var(--secondary-text-color);
    transition: var(--transition);

}

.social-icons ul li a:hover {
    color: var(--bg-color);
    background-color: var(--secondary-text-color);
}

.social-icons ul li a.resume {
    border-radius: 16px;
    padding: 12px;
    font-size: 20px;
    color: var(--primary-text-color);
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
}

.social-icons ul li a.resume:hover {
    background-color: var(--primary-text-color);
    color: var(--bg-color);
}